.nav {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 70px;
  background: rgba(255, 255, 255, 0.95);

  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04);

  transition: all 0.35s ease;
}

.nav-scrolled {
  padding: 12px 70px;
}

.logo img {
  height: 48px;
  cursor: pointer;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 38px;
  list-style: none;
}

.nav-links li {
  font-size: 17px;
  font-weight: 600;
  color: #111;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-links li:hover {
  color: #e60023;
}

.nav-login {
  background: #111;
  color: white;
  border: none;
  padding: 11px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-login:hover {
  background: #e60023;
}